body{
    background-image: url(../img/fundo.jpg);
   
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.top{
    color: gold;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: flex;
    align-items: center;
    padding:5px;

}
/* .. */
#imglogo{
   width: 70px; 
   
}
.menu{
    background-color: #dd0214;
    text-shadow: rgb(26, 24, 24) 0.1em 0.1em 0.1em;
    display: inline-table;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 30px 0px;
}

.menu a{
   display: table-cell; 
   max-width: 0px;
   padding: 5px;
   text-align: center;
   text-decoration: none;
   color: white;
   font-weight: bold;
  }
  .menu a:hover{
      text-decoration: underline;
  }
  .menu a.middle{
      border-right: 5px solid white;
  }
.item-info{
        position:relative;
    margin: auto;
    max-width: 280px;
}
.item-info img{
    border-radius: 4px;
    width: 100%;
    height: 200px;
}
.item-info h2{
    text-shadow: rgb(26, 24, 24) 0.1em 0.1em 0.1em; 
    margin: 0;
    font-size: 30px;
    color: #dd0214;
}
.item-info p{
    margin: 0;
    line-height: 1.5em;
    font-size: 16pt;
    color:#333
}
@media screen and (min-width: 768px){
    #list .item{width: 50%;
    }
}
@media screen and (min-width: 1200px){
    #list .item{width: 25%;
    }
}
@media screen and (max-width: 768px){
    #list .item{width: 100%;
    }
}

.bottom{
    text-shadow: rgb(26, 24, 24) 0.1em 0.1em 0.1em;
    background-color: #bad0db;
    color: white;
    display: inline-block;
    width: 100%;
}
.bottom form{
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}
.bottom #info{
    float: right;
    text-align: right;
    margin-right: 50px;
}
.bottom form h3{
    margin: 0 0 10px 0;

}
.buttom{
    background-color: #b23943;
    border: 0;
    color: white;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
}
.alert{
    border-radius: 5px;
    text-align: right;
    background-color: rgba(178, 57, 67, 0.3);
    color: #b23913;
    margin: 5px 0 0 0;
    padding: 2px 5px 2px 5px;
    float: right;
}

@keyframes fade{
    from{opacity:1}
    to{opacity:3}
}
#condtti{
    text-shadow: rgb(26, 24, 24) 0.1em 0.1em 0.1em;
    background-color: darkorange;
    display: inline-table;
    color: white;
    width: 100%;
    font-size: 150%;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0px;;
}

#contatods {
    background-color: rgb(219, 219, 219);
    text-align:center;
    color: white;
    padding: 30px 0px;
    font: bold;
    font-size:  18pt;
    margin: 0px 400px 22px 400px;
    text-shadow: rgb(26, 24, 24) 0.1em 0.1em 0.1em;
}

